.polo
{
    width:70px;
    height:70px;
    font-size:25px;
    font-weight:500;
    color:white;
    background-color:grey;
    border:0px;
    border-radius:40px;
    
}

.sss
{
    background-color: orange;
}

.display-calculation
{
    font-size:xx-large
}